@page "/catalogo"
@inject ICatalogService CatalogService

<p>@Message</p>

@if (invprecios != null)
{
    
}
else
{
    <p>Loading...</p>
}

@code {
    public string Message {get; set;}
    public IEnumerable<ListaInvPreciosDto> invprecios;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            invprecios = await CatalogService.GetInvWithPrices();
        }
        catch (Exception ex)
        {
            Message= "Error ... " + ex.Message;
        }
    }
}
