@page "/newencab"
@inject IEncabService encabService
@inject IProductService productService
@inject IInvAgrupService invAgrupService
@inject IClientService clientService

<p>@Message</p>

@if (clients != null && products != null)
{
    
    <div>
        
    </div>
} 
else
{
    <p>Loading...</p>
}


@code {
    public string Message { get; set; }
    public IEnumerable<ClientesDto> clients;
    public IEnumerable<SearchProductDto> products;
    public IEnumerable<InvAgrupDto> lineas;
}


